<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-md-12 col-lg-4 col-xl-3">
      <div class="pt-5">
        <div class="col-lg-6 col-sm-12 float-right">
          <div class="list-group" id="myList" role="tablist">
            <a
              class="list-group-item list-group-item-action active"
              data-toggle="list"
              href="#weapons"
              role="tab"
              >Weapons</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#bombs"
              role="tab"
              >Bombs</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#traps"
              role="tab"
              >Traps</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#ammos"
              role="tab"
              >Ammunitions</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#runes"
              role="tab"
              >Runes</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 pt-5">
      <div class="tab-content">
        <div class="tab-pane active" id="weapons" role="tabpanel">
          <app-weapon-list></app-weapon-list>
        </div>
        <div class="tab-pane" id="bombs" role="tabpanel">
          <app-bomb-list></app-bomb-list>
        </div>
        <div class="tab-pane" id="traps" role="tabpanel">
          <app-trap-list></app-trap-list>
        </div>
        <div class="tab-pane" id="ammos" role="tabpanel">
          <app-ammunition-list></app-ammunition-list>
        </div>
        <div class="tab-pane" id="runes" role="tabpanel">
          <app-runes-list></app-runes-list>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
