<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Weapons</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Weapons</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Bombs</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Bombs</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Traps</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Traps</a>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Runes</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Runes</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Ammunitions</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Ammo</a>
      </div>
    </div>
  </div>
</div>
