<div class='card'>
    <div class='card-header'>
        All Weapons
    </div>
    <div class='card-body'> 
      <div class='table-responsive'>
        <table class='table'
               *ngIf='weapons && weapons.length'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Accuracy</th>
              <th>Damage</th>
              <th>Rel.</th>
              <th>Type</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let wep of filteredWeapons'>
              <td style="width: 25%"> <a [routerLink]="['/weapons', wep.id]">{{ wep.name }}</a></td>
              <td>{{ wep.weaponAccuracy }}</td>
              <td>{{ wep.damage}}</td>
              <td>{{ wep.defaultReliability }}</td>
              <td>{{ wep.attackType }}</td>
              <td>{{ wep.cost }}</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation for Weapons">
          <ul class="pagination justify-content-center">
            <li *ngFor='let num of counter(numberOfPages); let i = index;'class="page-item {{i+1 == activePage ? 'active' : ''}}" (click)='updateFilterList($event)'>
              <p class='page-link'>{{i+1}}</p>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>