<div class="container pt-5">
  <div class="card" *ngIf="completedWeapon">
    <h5 class="card-header">{{ completedWeapon.weapon.name }}</h5>
    <div class="card-body">
      <h1 class="border-bottom">General</h1>
      <h5 class="card-title">
        {{
          completedWeapon.weapon.weaponClassification
            | addSpaceToCapitalCharacters
        }}
      </h5>
      <p *ngIf="completedWeapon.weapon.description" class="card-text">
        <i>"{{ completedWeapon.weapon.description }}"</i>
      </p>
      <p><strong>Damage: </strong>{{ completedWeapon.weapon.damage }}</p>
      <div
        *ngIf="
          completedWeapon.weaponEffects &&
          completedWeapon.weaponEffects.length > 0
        "
      >
        <p><strong>Effects: </strong></p>
        <ul>
          <li *ngFor="let effect of completedWeapon.weaponEffects">
            <strong>{{
              effect.effect.name | replaceValueIfExists: effect.value
            }}</strong>
            -
            {{ effect.effect.description }}
          </li>
        </ul>
      </div>
      <p>
        <strong>Concealment: </strong
        >{{ completedWeapon.weapon.concealment | addSpaceToCapitalCharacters }}
      </p>
      <p>
        <strong> Enhancement Slots: </strong
        >{{ completedWeapon.weapon.enhancements }}
      </p>
      <br />
      <div
        *ngIf="
          completedWeapon.craftingDiagram ||
          completedWeapon.craftingDiagramComponents
        "
      >
        <h1 class="border-bottom">Crafting</h1>
        <div *ngIf="completedWeapon.craftingDiagram">
          <br />
          <h5>Diagram</h5>
          <br />
          <p>
            <strong>Crafting DC:</strong>
            {{ completedWeapon.craftingDiagram.craftingDC }}
          </p>
          <p>
            <strong>Time:</strong>
            {{ completedWeapon.craftingDiagram.time }}
          </p>
          <p>
            <strong>Investment:</strong>
            {{ completedWeapon.craftingDiagram.investment }} crowns
          </p>
          <p>
            <strong>Cost:</strong>
            {{ completedWeapon.craftingDiagram.cost }} crowns
          </p>
          <p>
            <strong>Skill Level:</strong>
            {{ completedWeapon.craftingDiagram.skillLevel }}
          </p>
        </div>
        <br />
        <div
          *ngIf="
            completedWeapon.craftingDiagramComponents &&
            completedWeapon.craftingDiagramComponents.length > 0
          "
        >
          <h5>Components</h5>
          <br />
          <ul
            *ngFor="let component of completedWeapon.craftingDiagramComponents"
          >
            <li>
              {{ component.craftingComponent.name }} x {{ component.amount }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <button class="btn btn-primary" (click)="onBack()" style="width: 80px;">
    <i class="fa fa-chevron-left"></i> Back
  </button>
  <br />
  <br />
</div>
