

.pointable {
    cursor: pointer;
}

.no-margin-bottom {
    margin-bottom: 0em !important;
}

 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query since this is the default in Bootstrap */
 .table-actions {
    padding-bottom: 10px;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .table-actions {
        padding-bottom: 0px;
    }

    .collection-numbers {
        display: inline-flex;
        float: right;
        margin-bottom: 0px !important;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }