<div class="card">
  <div class="card-header" id="self-gen-header">
    <nav aria-label="Number of items on page">
      <!-- <div class="row align-items-center">
        <div class="col-lg-12 text-center">
          Weapons
        </div>
      </div> -->
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-4 text-center table-actions">
          <button
            class="btn btn-sm btn-outline-dark {{
              sortAlphabetically ? 'active' : ''
            }}"
            (click)="sortItemsAlphabeticallyClicked(!sortAlphabetically)"
            type="button"
          >
            Sort Alphabetically
          </button>
        </div>
        <div class="col-md-3 col-sm-8 text-center table-actions">
          Filter By:
          <input type="text" class="form-control" [(ngModel)]="tableFilter" />
        </div>
        <div
          class="col-md-4 col-sm-12 text-center table-actions justify-content-center text-center"
        >
          <ul
            class="pagination collection-numbers justify-content-center text-dark"
          >
            <li
              class="page-item pointable {{
                itemsPerPage == 10 ? 'active' : ''
              }}"
              (click)="updateItemsPerPage(10)"
            >
              <p class="page-link no-margin-bottom text-dark">10</p>
            </li>
            <li
              class="page-item pointable {{
                itemsPerPage == 25 ? 'active' : ''
              }}"
              (click)="updateItemsPerPage(25)"
            >
              <p class="page-link no-margin-bottom text-dark">25</p>
            </li>
            <li
              class="page-item pointable {{
                itemsPerPage == 50 ? 'active' : ''
              }}"
              (click)="updateItemsPerPage(50)"
            >
              <p class="page-link no-margin-bottom text-dark">50</p>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <nav aria-label="Page navigation for items">
        <ul class="pagination justify-content-center">
          <li
            *ngFor="let num of counter(numberOfPages); let i = index"
            class="page-item pointable {{
              i + 1 == activePage ? 'active' : ''
            }}"
            (click)="updatePagination($event)"
          >
            <p class="page-link text-dark">{{ i + 1 }}</p>
          </li>
        </ul>
      </nav>
      <table
        class="table table-sm table-hover"
        *ngIf="filteredItemArray && filteredItemArray.length"
      >
        <thead>
          <tr>
            <th *ngFor="let header of filteredItemArray[0].columns">
              <p
                *ngIf="header.isSortable; else elseBlock"
                (click)="columnSortClick($event, header.itemName)"
              >
                {{ header.itemName | addSpaceToCapitalCharacters }}
              </p>
              <ng-template #elseBlock
                ><p>
                  {{ header.itemName | addSpaceToCapitalCharacters }}
                </p></ng-template
              >
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredItemArray">
            <td *ngFor="let col of item.columns">
              <p *ngIf="!col.isHyperLink">{{ col.itemValue }}</p>
              <a
                *ngIf="col.isHyperLink"
                [routerLink]="[
                  '/' + callbackUrl,
                  item.columns[indexOfID].itemValue
                ]"
                [state]="{ data: callbackUrl }"
                >{{ col.itemValue }}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation for Items">
        <ul class="pagination justify-content-center">
          <li
            *ngFor="let num of counter(numberOfPages); let i = index"
            class="page-item pointable pagination-list {{
              i + 1 == activePage ? 'active' : ''
            }}"
            (click)="updatePagination($event)"
          >
            <p class="page-link text-dark">{{ i + 1 }}</p>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
