.top-navbar {
  font-family: "Righteous", serif;
  /* padding: 30px; */
}

.top-nav-list > .nav-item {
  padding-right: 30px;
}

a.nav-link {
  color: rgb(201, 201, 201);
  padding: 15px;
  margin-right: 15px;
}

span > a {
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(95, 95, 95), #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
