.top-navbar {
  font-family: "Righteous", serif;
  padding: 30px;
}

.top-nav-list > .nav-item {
  padding-right: 30px;
}

a.nav-link {
  color: rgb(201, 201, 201);
}

span > a {
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(95, 95, 95), #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363d44;
  color: white;
  text-align: center;
  padding: 30px;
  z-index: 999999999;
}

.top-container {
  padding-bottom: 75px;
}
