<nav class='navbar navbar-expand navbar-light bg-light pb-2 navbar-dark bg-dark top-navbar'>
  <a class='navbar-brand'>{{title}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/Weapons']">Weapons</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/Armors']">Armors</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/GeneralGears']">Gear</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/FoodAndDrink']">Food & Drink</a></li>
  </ul>
</nav>
<div class='container pt-5'>
<router-outlet></router-outlet>
</div>