<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-md-12 col-lg-4 col-xl-3">
      <div class="pt-5">
        <div class="col-lg-6 col-sm-12 float-right">
          <div class="list-group" id="myList" role="tablist">
            <a
              class="list-group-item list-group-item-action active"
              data-toggle="list"
              href="#general"
              role="tab"
              >General</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#containers"
              role="tab"
              >Containers</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#foodanddrink"
              role="tab"
              >Food & Drink</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#clothing"
              role="tab"
              >Clothing</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#services"
              role="tab"
              >Services</a
            >
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              href="#lodging"
              role="tab"
              >Lodging</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 pt-5">
      <div class="tab-content">
        <div class="tab-pane active" id="general" role="tabpanel">
          <app-general-items-list
            generalGearClassification="GeneralGear"
          ></app-general-items-list>
        </div>
        <div class="tab-pane" id="containers" role="tabpanel">
          <app-general-items-list
            generalGearClassification="Container"
          ></app-general-items-list>
        </div>
        <div class="tab-pane" id="foodanddrink" role="tabpanel">
          <app-general-items-list
            generalGearClassification="FoodAndDrink"
          ></app-general-items-list>
        </div>
        <div class="tab-pane" id="clothing" role="tabpanel">
          <app-general-items-list
            generalGearClassification="Clothing"
          ></app-general-items-list>
        </div>
        <div class="tab-pane" id="services" role="tabpanel">
          <app-general-items-list
            [displayWeight]="false"
            generalGearClassification="Service"
          ></app-general-items-list>
        </div>
        <div class="tab-pane" id="lodging" role="tabpanel">
          <app-general-items-list
            [displayWeight]="false"
            generalGearClassification="Lodging"
          ></app-general-items-list>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
