<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">All Adventurers Welcome!</h1>
    <p class="lead">
      The purpose of this site is to be used as a "Companion" for all that host
      and play
      <a
        href="https://www.drivethrurpg.com/product/248538/The-Witcher-Pen--Paper-RPG"
        target="_blank"
        >The Witcher Pen & Paper RPG</a
      >.
    </p>
    <hr class="my-4" />
    <p>
      Would you like to help make this website more nice looking? You're in luck
      - this website is open-source!
    </p>
    <a
      class="btn btn-primary btn-lg"
      href="https://github.com/mpiskunov/ReferenceGuide-TRPG"
      target="_blank"
      role="button"
      >Fork me on GitHub!</a
    >
  </div>
</div>
